body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    /* Light pink background */
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    
}



.card {
    width: 300px;
    height: 350px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 30px;
    display: inline-block;
    vertical-align: super;
    position: relative;
    /* Added for z-index */
    padding-bottom: 120px;
    background-color: #ebcfdd;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Make the border circular */
    overflow: hidden; /* Hide overflow content to maintain circular shape */
    margin: 10px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile img{
    width: 100%;
    height: auto; /* Set height to auto to maintain aspect ratio */
    object-fit: cover;
    margin-top: -30px; /* Adjust this value to move the image up */
}


.name {
    padding: 2px 16px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
    box-shadow: 0 8px 16px 0 rgba(219, 0, 0, 0.2);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    text-align: left;
    line-height: 0px;
}

.card-back {
    transform: rotateY(180deg);
    text-align: center;
    line-height: 15px;
}

.final-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.final-card-text {
    margin-top: 20px;
}

.final-card .card {
    width: 250px;
    height: 250px;
    padding-bottom: 0px;
}

.final-card-text #finalMessage {
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #FF69B4;
    color: #fff;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #D35293;
}

#heartbreak {
    margin-top: 20px;
}

#heartbreak img {
    width: 100px;
    margin-bottom: 10px;
}

#goBackBtn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #FF69B4;
    color: #fff;
    transition: background-color 0.3s;
}

#goBackBtn:hover {
    background-color: #D35293;
}

#finalCard {
    margin-top: 20px;
}

#restartBtn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #FF69B4;
    color: #fff;
    transition: background-color 0.3s;
}

#restartBtn:hover {
    background-color: #D35293;
}

/* Adjust image size for cards */
.card img {
    max-width: 100%;
    max-height: 100%;
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 42px;
}



[data-star] {
    text-align: left;
    font-style: normal;
    display: inline-block;
    position: relative;
    unicode-bidi: bidi-override;
}

[data-star]::before {
    display: block;
    content: '★★★★★';
    color: #eee;
}

[data-star]::after {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    width: 0;
    color: #ff8c00;
    overflow: hidden;
    height: 100%;
}

[data-star^="0.1"]::after {
    width: 2%
}

[data-star^="0.2"]::after {
    width: 4%
}

[data-star^="0.3"]::after {
    width: 6%
}

[data-star^="0.4"]::after {
    width: 8%
}

[data-star^="0.5"]::after {
    width: 10%
}

[data-star^="0.6"]::after {
    width: 12%
}

[data-star^="0.7"]::after {
    width: 14%
}

[data-star^="0.8"]::after {
    width: 16%
}

[data-star^="0.9"]::after {
    width: 18%
}

[data-star^="1"]::after {
    width: 20%
}

[data-star^="1.1"]::after {
    width: 22%
}

[data-star^="1.2"]::after {
    width: 24%
}

[data-star^="1.3"]::after {
    width: 26%
}

[data-star^="1.4"]::after {
    width: 28%
}

[data-star^="1.5"]::after {
    width: 30%
}

[data-star^="1.6"]::after {
    width: 32%
}

[data-star^="1.7"]::after {
    width: 34%
}

[data-star^="1.8"]::after {
    width: 36%
}

[data-star^="1.9"]::after {
    width: 38%
}

[data-star^="2"]::after {
    width: 40%
}

[data-star^="2.1"]::after {
    width: 42%
}

[data-star^="2.2"]::after {
    width: 44%
}

[data-star^="2.3"]::after {
    width: 46%
}

[data-star^="2.4"]::after {
    width: 48%
}

[data-star^="2.5"]::after {
    width: 50%
}

[data-star^="2.6"]::after {
    width: 52%
}

[data-star^="2.7"]::after {
    width: 54%
}

[data-star^="2.8"]::after {
    width: 56%
}

[data-star^="2.9"]::after {
    width: 58%
}

[data-star^="3"]::after {
    width: 60%
}

[data-star^="3.1"]::after {
    width: 62%
}

[data-star^="3.2"]::after {
    width: 64%
}

[data-star^="3.3"]::after {
    width: 66%
}

[data-star^="3.4"]::after {
    width: 68%
}

[data-star^="3.5"]::after {
    width: 70%
}

[data-star^="3.6"]::after {
    width: 72%
}

[data-star^="3.7"]::after {
    width: 74%
}

[data-star^="3.8"]::after {
    width: 76%
}

[data-star^="3.9"]::after {
    width: 78%
}

[data-star^="4"]::after {
    width: 80%
}

[data-star^="4.1"]::after {
    width: 82%
}

[data-star^="4.2"]::after {
    width: 84%
}

[data-star^="4.3"]::after {
    width: 86%
}

[data-star^="4.4"]::after {
    width: 88%
}

[data-star^="4.5"]::after {
    width: 90%
}

[data-star^="4.6"]::after {
    width: 92%
}

[data-star^="4.7"]::after {
    width: 94%
}

[data-star^="4.8"]::after {
    width: 96%
}

[data-star^="4.9"]::after {
    width: 98%
}

[data-star^="5"]::after {
    width: 100%
}


header img {
    height: 100px;
    width: fit-content;
}

header {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100vw;
    margin-bottom: 32px;
    background: #ebcfdd;
    position: relative;
}

header nav {
    margin-left: auto;
    margin-right: 32px;
    display: flex;
    gap: 32px;
    }

footer {
    background: #ebcfdd;
    height: 36px;
    width: calc(100vw - 32px);
    display: flex;
    gap: 16px;
    align-items: center;
    border-top: solid 2px #000000;
}

footer p {
    margin-right: auto;
}

header,
footer {
    padding: 0 16px;
    width: 100vw;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

html,
body {
    --timing: 500ms;
    width: 100vw;

    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: #000000;
    padding-bottom: 0;
    margin: 0;
}

body {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}