body {
    font-family: Arial, sans-serif;
    background-color: #FFE6EE; /* Light pink background */
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.card {
    width: 200px;
    height: 200px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
    text-align: center;
    line-height: 200px;
}

.final-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.final-card-text {
    margin-top: 20px;
}

.final-card .card {
    width: 150px;
    height: 150px;
}

.final-card-text #finalMessage {
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #FF69B4;
    color: #fff;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #D35293;
}

#heartbreak {
    margin-top: 20px;
}

#heartbreak img {
    width: 100px;
    margin-bottom: 10px;
}

#goBackBtn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #FF69B4;
    color: #fff;
    transition: background-color 0.3s;
}

#goBackBtn:hover {
    background-color: #D35293;
}

#finalCard {
    margin-top: 20px;
}

#restartBtn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #FF69B4;
    color: #fff;
    transition: background-color 0.3s;
}

#restartBtn:hover {
    background-color: #D35293;
}

/* Adjust image size for cards */
.card img {
    max-width: 100%;
    max-height: 100%;
}
